[Desktop Entry]
Name=CheckPatchPanelAndPorts
Exec=/usr/local/bin/CheckPatchPanelAndPorts
Type=Application
Categories=Utility;
Icon=/usr/local/share/CheckPatchPanelsAndPorts/resources/assets/PatchPanel.jpg
Comment=Application to check Patch Panels and Ports of AP, Camera, and RJ45 connectors connected to the Patch Panels. 
Terminal=false
StartupNotify=true
